Data source:

In [1]:
import pandas as pd
lines = pd.read_csv('C:\Kaggle\DataSet\Movie Dialog Corpus\movie_lines.tsv', sep='\t', error_bad_lines=False, warn_bad_lines=False, header=None)
lines.columns = ['LineID', 'CharacterID', 'MovieID', 'CharacterName', 'LineText']
lines.head()

  LineID CharacterID MovieID CharacterName      LineText
0  L1045          u0      m0        BIANCA  They do not!
1  L1044          u2      m0       CAMERON   They do to!
2   L985          u0      m0        BIANCA    I hope so.
3   L984          u2      m0       CAMERON     She okay?
4   L925          u0      m0        BIANCA     Let's go.

In [2]:
lines.shape

(293202, 5)

In [3]:
characters = pd.read_csv('C:\Kaggle\DataSet\Movie Dialog Corpus\movie_characters_metadata.tsv', sep='\t', error_bad_lines=False, warn_bad_lines=False, header=None)
characters.columns = ['CharacterID', 'CharacterName', 'MovieID', 'MovieTitle', 'Gender', 'PositionCredits']
characters.head()

,CharacterID,CharacterName,MovieID,MovieTitle,Gender,PositionCredits
0,u0,BIANCA,m0,10 things i hate about you,f,4
1,u1,BRUCE,m0,10 things i hate about you,?,?
2,u2,CAMERON,m0,10 things i hate about you,m,3
3,u3,CHASTITY,m0,10 things i hate about you,?,?
4,u4,JOEY,m0,10 things i hate about you,m,6

In [4]:
characters.shape

(9034, 6)

In [5]:
df = pd.merge(lines, characters, how='inner', on=['CharacterID','MovieID', 'CharacterName'],
         left_index=False, right_index=False, sort=True,
         copy=False, indicator=False)
df.head()

,LineID,CharacterID,MovieID,CharacterName,LineText,MovieTitle,Gender,PositionCredits
0,L1045,u0,m0,BIANCA,They do not!,10 things i hate about you,f,4
1,L985,u0,m0,BIANCA,I hope so.,10 things i hate about you,f,4
2,L925,u0,m0,BIANCA,Let's go.,10 things i hate about you,f,4
3,L872,u0,m0,BIANCA,Okay -- you're gonna need to learn how to lie.,10 things i hate about you,f,4
4,L869,u0,m0,BIANCA,Like my fear of wearing pastels?,10 things i hate about you,f,4

In [6]:
movies = pd.read_csv("C:\Kaggle\DataSet\Movie Dialog Corpus\movie_titles_metadata.tsv", sep='\t', error_bad_lines=False, warn_bad_lines=False, header=None)
movies.columns = ['MovieID','MovieTitle','ReleaseYear','Rating','Votes','Genres']
movies.head()

,MovieID,MovieTitle,ReleaseYear,Rating,Votes,Genres
0,m0,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance']
1,m1,1492: conquest of paradise,1992,6.2,10421.0,['adventure' 'biography' 'drama' 'history']
2,m2,15 minutes,2001,6.1,25854.0,['action' 'crime' 'drama' 'thriller']
3,m3,2001: a space odyssey,1968,8.4,163227.0,['adventure' 'mystery' 'sci-fi']
4,m4,48 hrs.,1982,6.9,22289.0,['action' 'comedy' 'crime' 'drama' 'thriller']

In [7]:
df = pd.merge(df, movies, how='inner', on=['MovieID','MovieTitle'], left_index=False, right_index=False, sort=True, copy=False, indicator=False)
df.head()

,LineID,CharacterID,MovieID,CharacterName,LineText,MovieTitle,Gender,PositionCredits,ReleaseYear,Rating,Votes,Genres
0,L1045,u0,m0,BIANCA,They do not!,10 things i hate about you,f,4,1999,6.9,62847.0,['comedy' 'romance']
1,L985,u0,m0,BIANCA,I hope so.,10 things i hate about you,f,4,1999,6.9,62847.0,['comedy' 'romance']
2,L925,u0,m0,BIANCA,Let's go.,10 things i hate about you,f,4,1999,6.9,62847.0,['comedy' 'romance']
3,L872,u0,m0,BIANCA,Okay -- you're gonna need to learn how to lie.,10 things i hate about you,f,4,1999,6.9,62847.0,['comedy' 'romance']
4,L869,u0,m0,BIANCA,Like my fear of wearing pastels?,10 things i hate about you,f,4,1999,6.9,62847.0,['comedy' 'romance']

In [8]:
df.shape

(288447, 12)

In [9]:
df.dtypes

LineID              object
CharacterID         object
MovieID             object
CharacterName       object
LineText            object
MovieTitle          object
Gender              object
PositionCredits     object
ReleaseYear         object
Rating             float64
Votes              float64
Genres              object
dtype: object